<div id="a-propos">
    <p>Cette application a été réalisée en 2015 dans le cadre d'un projet du M2-DNR2I à l'universite de Caen Normandie. Elle a été développée par Macky Dieng et Baptiste Vannesson.<p>
    <p>Les auteurs...</p>
    <p>Un grand merci à <a href="https://pixabay.com/fr/">Pixabay</a> pour les ressources graphiques !<p>
</div>
