<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test à propos</title>
        <link rel="stylesheet" href="/semantic/dist/semantic.min.css">
        <style>
            #a-propos {
                width: 550px;
                margin: 15px;
            }

            .card {
                width: 230px !important;
                display: inline-block !important;
                margin-top: 20px;
                margin-left: auto !important;
                margin-right: auto !important;
            }

            .message {
                border-radius: 0 !important;
            }

            p.header {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="a-propos">
            <div class="ui info message">
                <p class="header">Cette application a été réalisée en 2015 dans le cadre d'un projet du M2-DNR2I à l'université de Caen Normandie.<p>
            </div>
            <div id="auteurs" class="ui cards">
                <div class="card">
                    <div class="image">
                        <img src="images/macky-dieng.jpg">
                    </div>
                    <div class="content">
                        <span class="header">Macky Dieng</span>
                        <div class="meta">
                            <span>Développeur back-end</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a href="https://github.com/dieng444" target="_blank">
                            <i class="github icon"></i>
                            dieng444
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="images/baptiste-vannesson.jpg">
                    </div>
                    <div class="content">
                        <span class="header">Baptiste Vannesson</span>
                        <div class="meta">
                            <span>Développeur front-end</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a href="https://github.com/Badacadabra" target="_blank">
                            <i class="github icon"></i>
                            Badacadabra
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
