<!DOCTYPE html>
	<html>
		<head>
        <meta charset="utf-8" />
        <title>Ma page Node.js !</title>
   </head>
    <body>
    	<h1>Vous êtes dans la chambre</h1>
		<p>Vous êtes à l'étage n°<%= etage %></p>
    </body>
</html>

