<!DOCTYPE html>
    <html>
        <head>
        <meta charset="utf-8" />
        <title>Projet crawling</title>
        <meta name="author" content="Macky Dieng, Baptiste Vannesson">
        <link rel="stylesheet" href="css/style.css" media="all">
        <link rel="stylesheet" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="semantic/dist/components/sidebar.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <script src="semantic/dist/components/sidebar.min.js"></script>
        <script>
            $('.ui.labeled.icon.sidebar').sidebar('toggle');
        </script>
   </head>
    <body>
        <div class="ui visible left sidebar inverted vertical menu">
            <h1 class="item">Projet crawling</h1>
            <a class="item"><i class="home icon"></i>Home</a>
            <a class="item"><i class="block layout icon"></i>Topics</a>
            <a class="item"><i class="smile icon"></i>Friends</a>
            <p class="item">Par Macky Dieng &amp; Baptiste Vannesson</p>
        </div>
        <img src="images/tablet.png" alt="Écran" />
        <script src="js/d3.min.js"></script>
        <script src="js/loadGraph.js"></script>
    </body>
</html>

