<!DOCTYPE html>
    <html>
        <head>
        <meta charset="utf-8" />
        <title>LibreViz</title>
        <meta name="author" content="Macky Dieng, Baptiste Vannesson">
        <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
        <link rel="stylesheet" href="css/style.css" media="all">
        <link rel="stylesheet" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
   </head>
    <body>
        <!-- Menu (sidebar) -->
        <div class="ui left vertical visible inverted sidebar menu">
            <h1 class="item">LibreViz</h1>
            <!-- Lecteur de musique -->
            <audio controls>
                <source src="music/FreeSWSong.ogg" type="audio/ogg">
                Votre navigateur ne supporte pas le lecteur audio.
            </audio>
            <!-- Barre de recherche -->
            <div class="item ui search">
              <div class="ui inverted transparent input">
                <input class="prompt" type="text" name="term" id="term" placeholder="Recherche par logiciel">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
            <!-- Liens divers -->
            <a class="item" href="http://localhost:8080"><i class="home icon"></i>Accueil</a>
            <a class="item"><i class="bar chart icon"></i>Histogramme</a>
            <a class="item"><i class="pie chart icon"></i>Camembert</a>
            <!-- Gestion des labels -->
            <a class="item ui toggle checkbox">
                <input type="checkbox" id="toggleLabels">
                <label for="toggleLabels">Libellés (ON / OFF)</label>
            </a>
            <!-- Sélecteurs de couleurs -->
            <a class="item">
                <div class="container-colorpicker">
                    <input type="color" id="colorpicker-forme" value="">
                    <label for="colorpicker-forme">Couleur de forme</label>
                </div>
            </a>
            <a class="item">
                <div class="container-colorpicker">
                    <input type="color" id="colorpicker-fond" value="">
                    <label for="colorpicker-fond">Couleur de fond</label>
                </div>
            </a>
            <!-- Sélecteur de forme -->
            <a class="item">
                <div id="container-shapepicker">
                    <button id="circle-picker" class="ui icon mini button">
                        <i class="circle icon"></i>
                    </button>
                    <button id="square-picker" class="ui icon mini button">
                        <i class="square icon"></i>
                    </button>
                    <label for="circle-picker">Changer la forme</label>
                </div>
            </a>
            <!-- Liens divers -->
            <a class="item" id="test"><i class="student icon"></i>À propos de l'application</a>
            <a class="item" href="https://github.com/dieng444/crawling-project"><i class="github icon"></i>Le projet est sur GitHub !</a>
            <a class="item" href="https://fr.wikipedia.org/wiki/Correspondance_entre_logiciels_libres_et_logiciels_propri%C3%A9taires"><i class="world icon"></i>Provenance des données</a>
        </div>
        <!-- Zone de visualisation -->
        <div class="pusher">
            <div id="viz">
                <div id="power" title="Cacher le menu"></div>
                <img src="images/tablet.png" alt="Écran" id="tablet" />
                <div id="screen"></div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <script src="js/loadDocument.js"></script>
        <script src="js/d3.min.js"></script>
        <script src="d3-tip/index.js"></script>
        <script src="js/loadGraph.js"></script>
    </body>
</html>

