<!DOCTYPE html>
    <html>
        <head>
        <meta charset="utf-8" />
        <title>LibreViz</title>
        <meta name="author" content="Macky Dieng, Baptiste Vannesson">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
        <link rel="stylesheet" href="/css/style.css" media="all">
        <link rel="stylesheet" href="/semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
        <link rel="stylesheet" href="/css/d3-tip.css">
   </head>
    <body>
        <!-- Menu (sidebar) -->
        <div class="ui left vertical visible inverted sidebar menu mCustomScrollbar">
            <h1 class="item">LibreViz</h1>
            <!-- Lecteur de musique -->
            <audio controls>
                <source src="/music/FreeSWSong.ogg" type="audio/ogg">
                Votre navigateur ne supporte pas le lecteur audio.
            </audio>
            <!-- Barre de recherche -->
            <div class="item ui search">
                <div class="ui inverted transparent input">
                    <input class="prompt" type="text" name="term" id="term" placeholder="Chercher un logiciel">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <!-- Liens divers -->
            <a class="item" href="/" id="home"><i class="home icon"></i>Accueil</a>
            <a class="item" href="/histogramme"><i class="bar chart icon"></i>Statistiques (1/2)</a>
            <a class="item" href="/camembert"><i class="pie chart icon"></i>Statistiques (2/2)</a>
            <!-- Gestion des labels -->
            <a class="item ui toggle checkbox">
                <input type="checkbox" id="toggleLabels">
                <label for="toggleLabels">Libellés (ON / OFF)</label>
            </a>
            <!-- Gestion du zoom -->
            <a class="item" id="zoom-in">
                <i class="zoom icon"></i>
                Zoomer
            </a>
            <a class="item" id="zoom-out">
                <i class="zoom out icon"></i>
                Dézoomer
            </a>
            <a class="item" id="zoom-reset">
                <i class="undo icon"></i>
                Réinitialiser le zoom
            </a>
            <!-- Sélecteurs de couleurs -->
            <a class="item">
                <div class="container-colorpicker">
                    <input type="color" id="colorpicker-label" value="">
                    <label for="colorpicker-label">Couleur des libellés</label>
                </div>
            </a>
            <a class="item">
                <div class="container-colorpicker">
                    <input type="color" id="colorpicker-forme" value="">
                    <label for="colorpicker-forme">Couleur des formes</label>
                </div>
            </a>
            <a class="item">
                <div class="container-colorpicker">
                    <input type="color" id="colorpicker-fond" value="">
                    <label for="colorpicker-fond">Couleur de fond</label>
                </div>
            </a>
            <!-- Sélecteur de forme -->
            <a class="item">
                <div id="container-shapepicker">
                    <button id="circle-picker" class="ui icon mini button">
                        <i class="circle icon"></i>
                    </button>
                    <button id="square-picker" class="ui icon mini button">
                        <i class="square icon"></i>
                    </button>
                    <button id="star-picker" class="ui icon mini button">
                        <i class="asterisk icon"></i>
                    </button>
                    <label for="circle-picker">Changer la forme</label>
                </div>
            </a>
            <!-- Liens divers -->
            <a class="item" href="/a-propos">
                <i class="student icon"></i>
                À propos de l'application
            </a>
            <a class="item" href="https://github.com/dieng444/crawling-project" target="_blank">
                <i class="github icon"></i>
                Le projet sur GitHub
            </a>
            <a class="item" href="https://fr.wikipedia.org/wiki/Correspondance_entre_logiciels_libres_et_logiciels_propri%C3%A9taires" target="_blank">
                <i class="world icon"></i>
                Données crawlées
            </a>
            <a class="item" id="popup">
                <i class="browser icon"></i>
                Test pop-up
            </a>
        </div>
        <!-- Zone de visualisation -->
        <div class="pusher">
            <div id="viz">
                <div id="power" title=""></div>
                <img src="/images/tablet.png" alt="Écran" id="tablet" />
                <div id="screen"></div>
            </div>
        </div>
        <div class="ui long scrolling modal">
            <i class="close icon"></i>
            <div class="header">
                Test
            </div>
            <div class="image content">
                <div class="ui small image">
                    <img src="/images/test.png" alt="Test">
                </div>
                <div class="description">
                    <div class="ui header">Test</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et auctor arcu. Aenean faucibus elementum ultrices. Aliquam id nunc eget lacus facilisis fringilla sed rutrum sem. Cras quis nunc arcu. Vivamus vehicula nulla neque, ac tristique risus efficitur sit amet. Sed eget feugiat mi. Maecenas dictum tellus elit, quis cursus turpis rhoncus quis. Nunc lobortis mi at urna condimentum, at placerat elit sodales. Vestibulum ut dui et ante tincidunt malesuada a et odio. Morbi id suscipit dui, et accumsan massa. Duis semper sem vel pellentesque efficitur. Nunc iaculis justo non nisl dictum, sed mattis ex eleifend. Donec gravida pharetra leo, at posuere lacus sodales et.</p>
                    <div class="ui divider"></div>
                    <p>Nunc iaculis erat ligula, sit amet interdum ex tincidunt lobortis. Fusce tristique fringilla dolor, ut ultricies libero lobortis dapibus. Sed vitae lacus finibus, malesuada velit ultricies, scelerisque dui. Sed ac bibendum nisi. Vestibulum volutpat, odio sed dictum volutpat, turpis eros lacinia turpis, ut eleifend arcu mi ut risus. Vestibulum eget magna at ipsum convallis tempor quis eget ex. Integer mollis, sapien in auctor interdum, justo felis malesuada elit, vel fermentum purus magna ut ante. Morbi ullamcorper rhoncus massa in sagittis.</p>
                    <div class="ui divider"></div>
                    <p>Sed vel ligula luctus, rutrum eros a, luctus felis. Nunc nibh sapien, elementum et enim quis, tempus ornare velit. Nam vitae porttitor leo, non scelerisque dolor. In tristique finibus leo eu pellentesque. Curabitur mattis, lorem id venenatis consectetur, nisi dui dignissim velit, non blandit neque ante sit amet purus. Quisque ac purus nec erat facilisis pretium. Etiam et gravida quam, quis finibus augue. Proin condimentum, lectus non venenatis semper, sapien justo condimentum lectus, non mollis massa tellus in felis. Donec volutpat quis quam id aliquet. Vivamus fringilla varius metus, non dignissim quam placerat sit amet. Donec mollis rhoncus varius. Morbi pulvinar porta quam, sit amet sollicitudin tellus sodales sit amet.</p>
                    <div class="ui divider"></div>
                    <p>Etiam commodo finibus arcu, a gravida justo placerat eu. Maecenas vitae ipsum volutpat, vehicula mauris quis, vestibulum eros. Donec lobortis tristique vulputate. Nunc venenatis est urna, ut consectetur arcu mollis a. Fusce dignissim congue nisl vitae ornare. Nulla sed mauris nibh. Cras ultricies libero laoreet convallis imperdiet. Etiam maximus ultrices iaculis. Integer ac enim nulla. Proin euismod feugiat tempus.</p>
                    <div class="ui divider"></div>
                    <p>Nam consectetur mi ut mi bibendum cursus. Nunc quis facilisis ligula. Fusce interdum scelerisque diam, et elementum enim rutrum vitae. Proin aliquet accumsan facilisis. Sed ut pellentesque libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris sit amet lacus condimentum, semper dolor at, malesuada nunc. Cras ut pulvinar felis, et malesuada sem. Integer fringilla fringilla felis. Integer blandit velit et dictum congue. Donec elementum sapien vel ligula congue venenatis. Quisque erat neque, sagittis eget facilisis ut, consectetur ac tortor. Sed dapibus, urna nec placerat luctus, libero ipsum tempus purus, et consectetur dui nunc eu leo.</p>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <script src="/js/jquery.panzoom.min.js"></script>
        <script src="/js-cookie/src/js.cookie.js"></script>
        <script src="/js/loadDocument.js"></script>
        <script src="/js/d3.min.js"></script>
        <script src="/d3-tip/index.js"></script>
        <script src="/js/d3pie.min.js"></script>
        <script src="/js/<%= script %>"></script>
    </body>
</html>

