<!DOCTYPE html>
    <html>
        <head>
        <meta charset="utf-8" />
        <title>Projet crawling</title>
        <meta name="author" content="Macky Dieng, Baptiste Vannesson">
        <link rel="stylesheet" href="css/style.css" media="all">
        <link rel="stylesheet" href="semantic/dist/semantic.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <script>
            $( document ).ready(function() {
                $( "#hide_menu" ).click(function() {
                    $( '.ui.sidebar' ).sidebar( 'toggle' );
                    console.log("toto");
                });
            });
        </script>
   </head>
    <body>
        <div class="ui visible left sidebar inverted vertical menu">
<!--
            <h1 class="item">FLOSS</h1>
-->
            <a class="item"><i class="block sidebar icon"></i><span id="hide_menu">Cacher le menu</span></a>
            <a class="item" href="http://localhost:8080"><i class="home icon"></i>Accueil</a>
            <a class="item"><i class="block bar chart icon"></i>Histogramme</a>
            <a class="item"><i class="block pie chart icon"></i>Camembert</a>
            <a class="item"><i class="block student icon"></i>À propos</a>
            <div class="ui left search icon input">
              <i class="search icon"></i>
              <input name="search" placeholder="Search issues..." type="text">
            </div>
        </div>
        <img src="images/tablet.png" alt="Écran" />
        <script src="js/d3.min.js"></script>
        <script src="js/loadGraph.js"></script>
    </body>
</html>

