<!DOCTYPE html>
    <html>
        <head>
        <meta charset="utf-8" />
        <title>LibreViz</title>
        <meta name="author" content="Macky Dieng, Baptiste Vannesson">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
        <link rel="stylesheet" href="/css/style.css" media="all">
        <link rel="stylesheet" href="/semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
        <link rel="stylesheet" href="/css/d3-tip.css">
   </head>
    <body>
        <!-- Menu (sidebar) -->
        <div class="ui left vertical visible inverted sidebar menu mCustomScrollbar">
            <h1 class="item">LibreViz</h1>
            <!-- Lecteur de musique -->
            <audio controls>
                <source src="/music/FreeSWSong.ogg" type="audio/ogg">
                Votre navigateur ne gère pas le lecteur audio.
            </audio>
            <!-- Barre de recherche -->
            <div class="item ui search">
                <div class="ui inverted transparent input">
                    <input class="prompt" type="text" name="term" id="term" placeholder="Chercher un logiciel">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <!-- Liens divers -->
            <a class="item" href="/" id="home"><i class="home icon"></i>Accueil</a>
            <a class="item" href="/histogramme"><i class="bar chart icon"></i>Statistiques (1/2)</a>
            <a class="item" href="/camembert"><i class="pie chart icon"></i>Statistiques (2/2)</a>
            <a class="item" id="reset-prefs"><i class="remove user icon"></i>Supprimer les préférences</a>
            <!-- Gestion des labels -->
            <a class="item ui toggle checkbox">
                <input type="checkbox" id="toggleLabels">
                <label for="toggleLabels">Libellés (ON / OFF)</label>
            </a>
            <!-- Gestion du zoom -->
            <a class="item" id="zoom-in">
                <i class="zoom icon"></i>
                Zoomer
            </a>
            <a class="item" id="zoom-out">
                <i class="zoom out icon"></i>
                Dézoomer
            </a>
            <a class="item" id="zoom-reset">
                <i class="undo icon"></i>
                Réinitialiser le zoom
            </a>
            <!-- Sélecteurs de couleurs -->
            <a class="item">
                <div class="container-colorpicker">
                    <input type="color" id="colorpicker-label" value="">
                    <label for="colorpicker-label">Couleur des libellés</label>
                </div>
            </a>
            <a class="item">
                <div class="container-colorpicker">
                    <input type="color" id="colorpicker-shape" value="">
                    <label for="colorpicker-forme">Couleur des formes</label>
                </div>
            </a>
            <a class="item">
                <div class="container-colorpicker">
                    <input type="color" id="colorpicker-background" value="">
                    <label for="colorpicker-fond">Couleur de fond</label>
                </div>
            </a>
            <!-- Sélecteur de forme -->
            <a class="item">
                <div id="container-shapepicker">
                    <button id="circle-picker" class="ui icon mini button">
                        <i class="circle icon"></i>
                    </button>
                    <button id="square-picker" class="ui icon mini button">
                        <i class="square icon"></i>
                    </button>
                    <button id="star-picker" class="ui icon mini button">
                        <i class="asterisk icon"></i>
                    </button>
                    <label for="circle-picker">Changer la forme</label>
                </div>
            </a>
            <!-- Liens divers -->
            <a class="item" href="/a-propos">
                <i class="student icon"></i>
                À propos de l'application
            </a>
            <a class="item" href="https://github.com/dieng444/crawling-project" target="_blank">
                <i class="github icon"></i>
                Le projet sur GitHub
            </a>
            <a class="item" href="https://fr.wikipedia.org/wiki/Correspondance_entre_logiciels_libres_et_logiciels_propri%C3%A9taires" target="_blank">
                <i class="world icon"></i>
                Données crawlées
            </a>
        </div>
        <!-- Zone de visualisation -->
        <div class="pusher">
            <div id="viz">
                <div id="power" title=""></div>
                <img src="/images/tablet.png" alt="Écran" id="tablet" />
                <!-- Zone d'affichage du contenu de la tablette -->
                <div id="screen">
                    <% if (typeof isAboutPage != 'undefined' && isAboutPage) { %>
                      <%- include('a-propos.ejs') %>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- Pop-ups -->
        <div class="ui long scrolling modal"></div>
        <div class="ui small modal">
            <div class="ui icon header">
                <i class="settings icon"></i>
                Voulez-vous vraiment supprimer vos préférences ?
            </div>
            <div class="actions">
                <div class="ui red cancel inverted button">
                    <i class="remove icon"></i>
                    Non
                </div>
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    Oui
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <script src="/js/jquery.panzoom.min.js"></script>
        <script src="/js-cookie/src/js.cookie.js"></script>
        <script src="/js/loadDocument.js"></script>
        <script src="/js/d3.min.js"></script>
        <script src="/d3-tip/index.js"></script>
        <script src="/js/d3pie.min.js"></script>
        <script src="/js/<%= script %>"></script>
        <script>
            $(function() {
                $( "#test" ).click(function() {
                    $('.ui.long.scrolling.modal')
                        .modal('setting', 'transition', 'vertical flip')
                        .modal('show');
                });
            });
        </script>
    </body>
</html>

