@CHARSET "UTF-8";

/* ============================================================== */
/* ========================== Reset ============================ */
/* ============================================================ */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ============================================================== */
/* =========================== Global ========================== */
/* ============================================================ */

body {
    overflow: hidden;
    background-image: url('../images/desk.jpg')!important;
}

img#tablet {
    width: 900px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* ============================================================== */
/* ========================== Sidebar ========================== */
/* ============================================================ */

h1 {
    text-align: center;
}

.ui.toggle.checkbox .box::before, .ui.toggle.checkbox label::before {
    background-color: rgba(255, 255, 255, 0.3)!important;
}

.ui.toggle.checkbox .box::before:hover, .ui.toggle.checkbox label::before:hover {
    background-color: rgba(255, 255, 255, 0.2)!important;
}

.ui.checkbox label {
    color: white!important;
    cursor: pointer!important;
    text-align: right;
}

.ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher {
    transform: none !important;
}

.container-colorpicker label {
    float: right;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
    cursor: pointer;
}

#colorpicker-forme, #colorpicker-fond {
    cursor: pointer;
}

/* ============================================================== */
/* =========================== Graphe ========================== */
/* ============================================================ */

svg {
    display: block;
    background-color: #F2F2F2;
    margin: auto;
    margin: auto;
    position: relative;
    top: -655px;
    left: 23px;
    border-radius: 30px;
    box-shadow: 0 0 7px white;
}

.node {
  stroke: #1B1C1D; /* #4485F5; */
  stroke-width: 5px;
}

.link {
  stroke: #1B1C1D; /* #4485F5; */
  stroke-width: 5px;
}

circle {
    fill: silver; /* #6ECBF1; */
    box-shadow: 0 0 5px black;
    transition: fill .3s ease;
    cursor: pointer;
}

circle:hover {
    fill: #4485F5;
}

g:first-of-type > circle {
    fill: gray;
}

g:first-of-type > circle:hover {
    fill: gray;
    cursor: initial;
}

text {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    fill: black;
    cursor: pointer;
}
