@CHARSET "UTF-8";
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ul,ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/************Début css d3js*****************/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
svg {
    display: block;
    background-color: #F2F2F2;
    margin: auto;
    margin: auto;
    position: relative;
    top: -655px;
    left: 23px;
    border-radius: 30px;
}
body {
    overflow: hidden;
    background-image: url('../images/desk.jpg')!important;
}

img {
    width: 900px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

span#hide_menu {
    font-weight: bold;
    font-size: large;
}

.node {
  stroke: #4485F5;
  stroke-width: 5px;
}

.link {
  stroke: #4485F5;
  stroke-width: 5px;
}

circle {
    fill: #6ECBF1;
    transition: fill .3s ease;
    cursor: pointer;
}

circle:hover {
    fill: #4485F5;
}

text {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    fill: #01008A;
    cursor: pointer;
}

text:hover {
    text-decoration: underline;
}
/************Fin css d3js*****************/
.well-lg {
    padding-top:0px;
}
body {
    font-family : Open Sans, sans-serif;
    //color:#666;
    //background-color: #080808;
}
section {
    width:1024px;
    height:600px;
}
header {
    text-align:center;
    margin-top:0px;
}
footer
{
    background-color: #080808;
    //background-color: #3f4752;
    width:100%;
    height:110px;
    //margin:auto;
    //padding:2em;
}
footer p
{
    color:#fff;
}
footer p
{
    text-align:center;
    padding-top:48px;
    font-size: 0.9em;
}
pre,code {
    font-size:1.1em;
}
a {
    text-decoration: none;
    color:#08c;
}
a:hover {
    text-decoration: underline;
}
#b-body-top {
    background-color: #009fe3;
    height:300px;
    width:100%;
}
#b-body-top .content{
    width:960px;
    margin:auto;
    background : url('../img/slyboot-v3.png') no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    height:300px;
}
#b-body-bottom {
    //background-color: #f3f5f8;
    //height:600px;
    width:100%;
    //margin-top:-20px;
}
#b-body-bottom .content{
    width:960px;
    margin:auto;
    //background-color: #fff;
    //height:600px;
    padding:1em;
    display:flex;
}
#b-body-bottom .content #b-left{
    width:27%;
    //height:150px;
    //border:1px solid #000;
    margin-right:10px;
}
#b-body-bottom .content #b-left ol {
    //font-size:0.9em;
    //magin-bottom:7px;
    line-height: 1.5;
    color:#666;
}
#b-body-bottom .content #b-left ol li {
    padding-top:7px;
    padding-bottom:7px;
    border-top:1px solid #eee;
}
ol li a{
    text-decoration: none;
    color:#08c;
}
ol li a:hover, ol li a:active, ol li a:focus {
    color:#666;
}
#b-body-bottom .content #b-right{
    width:71%;
    //height:400px;
    //border:1px solid #000;
    padding-left:0.5em;
    padding-bottom:0.5em;
    padding-right:0.5em;
}
#b-body-bottom .content #b-right h1 {
    margin:0;
    margin-bottom:10px;
}
p,ul {
    //font-size:0.93em;
    color:#000;
}
section article p {
    line-height:1.5;
    margin-bottom:7px;
    //margin-left: 15px;

}
pre[class*="language-"] {
    padding: 0em;
}
ul {
    margin-left :50px;
    line-height:1.5;
}
#dwld-btn-container {
    //text-align: center;
}
section#install h4{
   margin-bottom: 15px;
}
#dwld-btn-container a:nth-child(1){
    margin-right: 15px;
}
#dwld-btn-container p.alert{
    margin-top: 15px;
    text-align: left;
}
a.uline {
    text-decoration: underline;
}
h4,h3,h2,h1 {
    color:#000;
}
figure#slb-welcome {
    width:100%;
    border:1px solid #ddd;
    margin-top:10px;
    margin-bottom:10px;

}
figure#slb-welcome img{
    width:100%;
    display:block;
    height:auto;
}
