/* ============================================================== */
/* ========================== Reset ============================ */
/* ============================================================ */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:focus {
    outline: none;
}

/* ============================================================== */
/* =========================== Global ========================== */
/* ============================================================ */

body {
    overflow: hidden;
    background-image: url('../images/desk.jpg')!important;
}

.pusher {
    height: 100% !important;
}

img#tablet {
    width: 900px;
    display: block;
}

div#info-links {
    text-align: center !important;
}

#mCSB_1_container {
    margin-right: 0;
}

.centered {
    text-align: center;
}

@media screen and (max-width: 1400px) {

    img#tablet {
        width: 650px;
        height: 499px;
    }

}

/* ============================================================== */
/* ========================== Sidebar ========================== */
/* ============================================================ */

h1 {
    text-align: center;
}

.ui.sidebar {
  width: 300px !important;
}

.ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher {
    transform: none !important;
}

.ui.search {
    position: absolute !important;
    z-index: 999 !important;
    width: 100% !important;
}

.ui.search > .results {
    width: 100% !important;
    border-radius: 0 !important;
}

.ui.search > .results > .category > .result {
    margin-left: 0 !important;
}

#home {
    margin-top: 42px;
}

.ui.toggle.checkbox .box::before, .ui.toggle.checkbox label::before {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.ui.toggle.checkbox .box::before:hover, .ui.toggle.checkbox label::before:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.ui.checkbox label {
    color: white !important;
    cursor: pointer !important;
    text-align: right!important;
}

.container-colorpicker label,
#container-shapepicker label {
    float: right;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
    cursor: pointer;
}

#colorpicker-label,
#colorpicker-shape,
#colorpicker-background,
#shapepicker {
    cursor: pointer;
}

/* ============================================================== */
/* =========================== Graphe ========================== */
/* ============================================================ */

#viz {
    width: 900px;
    height: 690px;
    margin: 30px 0 0 350px;
    display: flex;
    cursor: move;
}

#power {
    position: absolute;
    top: 320px;
    left: 15px;
    cursor: crosshair;
    width: 50px;
    height: 50px;
    background: url('../images/power.png') 0 0 no-repeat;
}

#screen {
    width: 782px;
    height: 690px;
    position: relative;
    left: -870px;
    margin-left: 51px;
}

svg {
    background-color: #F2F2F2;
    width: 782px;
    height: 620px;
    margin-top: 35px;
    cursor: initial;
    border-radius: 35px;
    box-shadow: 0 0 7px white;
}

.node {
    stroke: #1B1C1D;
    stroke-width: 4px;
    fill: silver;
    box-shadow: 0 0 5px black;
    transition: fill .3s ease;
    cursor: pointer;
}

.node:hover {
    fill: #4485F5;
}

.link {
    stroke: #1B1C1D;
    stroke-width: 4px;
}

g:first-of-type > .node {
    fill: gray;
}

g:first-of-type > .node:hover {
    fill: gray;
    cursor: move;
}

text {
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
}

.d3-tip.e {
    margin-left: 7px;
}

@media screen and (max-width: 1400px) {

    #viz {
        width: 650px;
        height: 499px;
    }

    #power {
        width: 42px;
        height: 42px;
        top: 228px;
        left: 6px;
        background: url('../images/power_mini.png') 0 0 no-repeat;
    }

    #screen {
        width: 570px;
        height: 451px;
        top: -10px;
        left: -596px;
        margin-left: 0;
    }

    svg {
        width: 570px;
        height: 451px;
        border-radius: 25px;
    }

    .node {
        stroke-width: 3px;
    }

    .link {
        stroke-width: 3px;
    }

}

/* ============================================================== */
/* ========================== À propos ========================= */
/* ============================================================ */


#a-propos {
    background-color: #F2F2F2;
    width: 782px;
    height: 620px;
    margin-top: 35px;
    cursor: initial;
    border-radius: 35px;
    box-shadow: 0 0 7px white;
}

#auteurs {
    margin-top: 35px;
}

.card {
    width: 280px !important;
    display: inline-block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.message {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
    border-radius: 35px 35px 0 0 !important;
}

p.header {
    width: 85%;
    text-align: center;
    margin: auto !important;
    font-size: 20px !important;
}

@media screen and (max-width: 1400px) {

    #a-propos {
        width: 570px;
        height: 451px;
        border-radius: 25px;
    }

    #auteurs {
        margin-top: 0 !important;
    }

    .card {
        width: 210px !important;
    }

    .message {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        border-radius: 26px 26px 0 0 !important;
    }

    p.header {
        font-size: 16px !important;
    }

}
